# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @benjaminhuo @FeynmanZhou @wanjunlei @tpiperatgod @wrongerror @wentevill @arugal @kehuili @webup @lizzzcai @wenchajun @geffzhang 
